$primaryfont: 'Didact Gothic', sans-serif;
$headingfont: 'Space Mono', monospace;

$red: #FF6464;
$orange: #FFB045;
$yellow: #FFF145;
$green: #96FF55;
$blue: #45BFFF;
$purple: #F845FF;
$gray: #707070;

$border: 5px solid black;
$border-medium: 3px solid black;

h1 {
    font-family: $headingfont;
}

h2 {
    font-family: $primaryfont;
}

h3 {
    font-family: $headingfont;
}

h4 {
    font-family: $primaryfont;
}

p {
    font-family: $primaryfont;
}

a {
    color: white;
}

a:active {
    color: white;
}

.dark-link{
    font-family: $primaryfont;
}

.light-link {
    font-family: $primaryfont;
    color: $gray !important; 
}

.circle-link {
    width: 160px;
    height: 160px;
    font-family: $primaryfont;
}
.circle-button {
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
}

.hole {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.red {
    background-color: $red;    
}

.orange {
    background-color: $orange;
}

.yellow {
    background-color: $yellow;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}

.background-black {
    background-color: black;
}

.background-white {
    background-color: white;
}

.white-text {
    color: white;
}

.round {
    border: $border;
    border-radius: 50%;
}

.border-medium-bottom {
    border-bottom: $border-medium;
}

.border-medium-top {
    border-top: $border-medium;
}

.square-border {
    border: 10px solid $yellow;
    border-radius: 10px;    
}

.square-border-black {
    border: 10px solid black;
    border-radius: 10px;
}

.tall {
    height: 50vh;
}

.full-height {
    height: 100vh;
}

.negative-left {
    margin-left: -10px;
}

.canvas {
    height: 70vh;
}

.q-img {
    width: 300px;
    height: 300px;
}

.g-img {
    width: 200px;
    height: 200px;
}

.after-img {
    width: 150px;
    height: 150px;
}

.shake {
	display:inline-block
}
.shake {
	display:block;
	position:relative;
}

.shake.inline {
	display:inline-block
}

// @-webkit-keyframes spaceboots {
// 	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
// 	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
// 	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
// 	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
// 	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
// 	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
// 	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
// 	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
// 	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
// 	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
// 	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
// }
// .shake:hover,
// .shake:focus {
// 	-webkit-animation-name: spaceboots;
// 	-webkit-animation-duration: 0.8s;
// 	-webkit-transform-origin:50% 50%;
// 	-webkit-animation-iteration-count: infinite;
// 	-webkit-animation-timing-function: linear;
// }