$primaryfont: 'Didact Gothic', sans-serif;
$headingfont: 'Space Mono', monospace;

$red: #FF6464;
$orange: #FFB045;
$yellow: #FFF145;
$green: #96FF55;
$blue: #45BFFF;
$purple: #F845FF;
$gray: #707070;

$border: 5px solid black;
$border-medium: 3px solid black;

h1 {
    font-family: $headingfont;
}

h2 {
    font-family: $primaryfont;
}

h3 {
    font-family: $headingfont;
}

h4 {
    font-family: $primaryfont;
}

p {
    font-family: $primaryfont;
}

a {
    color: white;
}

a:active {
    color: white;
}

a:visited {
    color: white;
}

.dark-link{
    font-family: $primaryfont;
}

.light-link {
    font-family: $primaryfont;
    color: $gray !important; 
}

.circle-link {
    width: 160px;
    height: 160px;
    font-family: $primaryfont;
}
.circle-button {
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
}

.hole {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.red {
    background-color: $red;    
}

.orange {
    background-color: $orange;
}

.yellow {
    background-color: $yellow;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}

.background-black {
    background-color: black;
}

.background-white {
    background-color: white;
}

.white-text {
    color: white;
}

.round {
    border: $border;
    border-radius: 50%;
}

.border-medium-bottom {
    border-bottom: $border-medium;
}

.border-medium-top {
    border-top: $border-medium;
}

.square-border {
    border: 10px solid $yellow;
    border-radius: 10px;    
}

.square-border-black {
    border: 10px solid black;
    border-radius: 10px;
}

.tall {
    height: 15%;
}

.tall-15 {
    height: 15%;
}

.full-height {
    height: 100vh;
}

.full-height-100 {
    height: 100vh;
}

.negative-left {
    margin-left: -10px;
}

.canvas {
    height: 70vh;
}

.q-img {
    width: 300px;
    height: 300px;
}

.g-img {
    width: 200px;
    height: 200px;
}

.after-img {
    width: 150px;
    height: 150px;
}

.disabled {
    color: $gray;
    pointer-events: none;
    cursor: default;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Outer */
.popup {
width:100%;
height:100%;
display:none;
position:fixed;
top:0px;
left:0px;
background:rgba(0,0,0,0.75);
}
/* Inner */
.popup-inner {
max-width:700px;
width:90%;
padding:40px;
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
box-shadow:0px 2px 6px rgba(0,0,0,1);
border-radius:3px;
background:#fff;
}
/* Close Button */
.popup-close {
width:30px;
height:30px;
padding-top:4px;
display:inline-block;
position:absolute;
top:0px;
right:0px;
transition:ease 0.25s all;
-webkit-transform:translate(50%, -50%);
transform:translate(50%, -50%);
border-radius:1000px;
background:rgba(0,0,0,0.8);
font-family:Arial, Sans-Serif;
font-size:20px;
text-align:center;
line-height:100%;
color:#fff;
}
.popup-close:hover {
-webkit-transform:translate(50%, -50%) rotate(180deg);
transform:translate(50%, -50%) rotate(180deg);
background:rgba(0,0,0,1);
text-decoration:none;
}

@media only screen and (max-width: 600px) {
    .full-height {
        height: 185vh;
    }
    .phone-col {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }
    .display-3,
    .display-4 {
        font-size: 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
    .canvas {
        height: 50vh;
    }
    .tall-15 {
        height: 1%;
    }
    #userUpload {
        margin-top: 30px;
    }
}